<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="users" type="co.kr.koco.vo.UserVO"></typeAlias>
		<typeAlias alias="board" type="co.kr.koco.vo.BoardVO"></typeAlias>
		<typeAlias alias="info" type="co.kr.koco.vo.BoardInfoVO"></typeAlias>
		<typeAlias alias="culture" type="co.kr.koco.vo.CultureVO"></typeAlias>
		<typeAlias alias="season" type="co.kr.koco.vo.SeasonVO"></typeAlias>
		<typeAlias alias="comment" type="co.kr.koco.vo.CommentVO"></typeAlias>
		<typeAlias alias="notice" type="co.kr.koco.vo.NoticeVO"></typeAlias>
		<typeAlias alias="follow" type="co.kr.koco.vo.FollowVO"></typeAlias>
	</typeAliases>

	<mappers>
		<mapper resource="mapper/userMapper.xml"></mapper>
		<mapper resource="mapper/freeBoardMapper.xml"></mapper>
		<mapper resource="mapper/top_menu_mapper.xml"></mapper>
		<mapper resource="mapper/qnaBoardMapper.xml"></mapper>
		<mapper resource="mapper/cultureBoardMapper.xml"></mapper>
		<mapper resource="mapper/seasonBoardMapper.xml"></mapper>
		<mapper resource="mapper/commentMapper.xml"></mapper>
		<mapper resource="mapper/EventBoardMapper.xml"></mapper>
		<mapper resource="mapper/noticeBoardMapper.xml"></mapper>
		<mapper resource="mapper/followMapper.xml"></mapper>
	</mappers>
</configuration>