<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="evnetDAO">
	<resultMap type="board" id="boardResult">
		<id property="boardNo" column="BOARD_NO"></id>
		<result property="boardCategory" column="BOARD_CATEGORY" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardRegdate" column="BOARD_REGDATE" />
		<result property="boardReadcount" column="READCOUNT" />
		<result property="fileName" column="FILE_NAME" />
		<result property="thumbnail" column="THUMBNAIL" />
		<result property="userNo" column="USER_NO" />
	</resultMap>
	<insert parameterType="board" id="eventBoardRegister">
		INSERT INTO KOCO_BOARD(BOARD_CATEGORY, BOARD_TITLE, BOARD_CONTENT, BOARD_REGDATE, READCOUNT, FILE_NAME, THUMBNAIL, USER_NO)
		VALUES(3, #{boardTitle}, #{boardContent}, NOW(), 0, #{fileName}, #{thumbnail}, 28)
		<!-- VALUES(3, #{boardTitle}, #{boardContent}, NOW(), 0, #{fileName, jdbcType=VARCHAR}, NULL, 1) -->
	</insert>
	<!-- <select parameterType="java.lang.Integer" id="getBoardInfoName" resultType="java.lang.String">
		SELECT INFO_NAME as infoName
		FROM KOCO_BOARD_INFO 
		WHERE INFO_NO = #{infoNo}
	</select> -->
	<select id="getEventBoard" resultType="board" resultMap="boardResult" parameterType="java.lang.Integer">
		select BOARD_NO, BOARD_TITLE, BOARD_CONTENT, user.USER_NICKNAME as writer, DATE_FORMAT(BOARD_REGDATE, '%Y-%m-%d') AS BOARD_REGDATE , READCOUNT, FILE_NAME, THUMBNAIL
		from  KOCO_BOARD as board, KOCO_USERS as user  
		where BOARD_NO=#{boardNo} and board.USER_NO=user.USER_NO
	</select>
	<select id="getEventBoardUpdate" resultType="board" resultMap="boardResult" parameterType="java.lang.Integer">
		select BOARD_NO, BOARD_TITLE, BOARD_CONTENT, user.USER_NICKNAME as writer, DATE_FORMAT(BOARD_REGDATE, '%Y-%m-%d') AS BOARD_REGDATE , READCOUNT, FILE_NAME, THUMBNAIL
		from  KOCO_BOARD as board, KOCO_USERS as user  
		where BOARD_NO=#{boardNo} and board.USER_NO=user.USER_NO
	</select>
	<update id="postEventUpdate" parameterType="board" >
		update KOCO_BOARD as board, KOCO_USERS as user  
		<!-- set BOARD_TITLE=#{boardTitle},BOARD_CONTENT=#{boardContent},BOARD_REGDATE=NOW(),USER_NO=#{userNo} where BOARD_NO=#{boardNo} -->
		set BOARD_TITLE=#{boardTitle},BOARD_CONTENT=#{boardContent},BOARD_REGDATE=NOW(),FILE_NAME=#{fileName},THUMBNAIL=#{thumbnail},user.USER_NICKNAME=#{writer} where BOARD_NO=#{boardNo}
	</update>
	<delete id="eventBoardDelete" parameterType="board">
		delete from KOCO_BOARD where BOARD_NO=#{boardNo}
	</delete>
	<select id="getListWithPaging" resultType="board" resultMap="boardResult">
		select BOARD_NO, BOARD_TITLE, user.USER_NICKNAME as writer, BOARD_REGDATE, READCOUNT
		from KOCO_BOARD as board
		join KOCO_USERS as user
		where board.USER_NO=user.USER_NO and board.BOARD_CATEGORY=3
		order by board.BOARD_NO desc
		<!-- limit #{pageNum}, #{amount} -->
		<!-- where board.USER_NO=user.USER_NO and board.BOARD_CATEGORY=info.INFO_NO and info.INFO_NO=3 -->
		<!-- select BOARD_NO, BOARD_TITLE, USER_NO, BOARD_REGDATE, READCOUNT
		from KOCO_BOARD
		where BOARD_CATEGORY=3
		order by BOARD_NO desc
		limit #{pageNum}, #{amount} -->
	</select>
	<select id="getBoardInfoName" resultType="java.lang.String" parameterType="java.lang.Integer">
	<![CDATA[
		SELECT INFO_NAME as infoName
		FROM KOCO_BOARD_INFO 
		WHERE INFO_NO = #{infoNo}
	]]>
	</select>
	<select id="getTotalCount" resultType="int">
	<![CDATA[
		select count(*) 
		from KOCO_BOARD 
		where BOARD_NO > 0
		]]>
	</select>
	<select id="getEventBoardCnt" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(*) FROM KOCO_BOARD WHERE BOARD_CATEGORY = 3
	]]>
	</select>
</mapper>