<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.koco.dao.EventBoardDAO">
	<insert id="boardRegister">
		insert into KOCO_BOARD
		(boardNo,boardCategory,boardTitle,boardContent,boardRegdate,boardReadcount,fileName,thumbnail,userNo)
		values(#{bno},#{category},#{title},#{content},NOW(),#{readCount},#{fileName},#{thumbnail},#{writer})
	</insert>
	<select id="boardList" resultType="co.kr.koco.vo.EventVO">
		select * from KOCO_BOARD where boardNo > 0
	</select>
	<select id="getBoard" resultType="co.kr.koco.vo.EventVO">
		select * from KOCO_BOARD where boardNo=#{bno}
	</select>
	<update id="boardUpdate">
		update KOCO_BOARD 
		set boardTitle=#{title},boardContent=#{content},boardRegdate=NOW(),fileName=#{fileName},thumbnail=#{thumbnail},userNo=#{writer} where boardNo=#{bno}
	</update>
	<delete id="boardDelete">
		delete from KOCO_BOARD where boardNo=#{bno}
	</delete>
	<!-- <select id="getListWithPaging"
		resultType="org.zerock.domain.BoardVO">
		select *
		from tbl_board2
		order by bno desc
		limit #{pageNum}, #{amount}
	</select> -->
	<!-- <select id="getTotalCount" resultType="int">
		select count(*) from
		tbl_board2 where bno > 0
	</select> -->
</mapper>