<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="followMapper">
	<resultMap type="follow" id="followResult">
		<id property="followNo" column="FOLLOW_NO"/>
		<result property="fromFollow" column="FROM_FOLLOW"/>
		<result property="toFollow" column="TO_FOLLOW"/>
		<result property="followYn" column="FOLLOW_YN"/>
	</resultMap>
	
	<!-- 팔로우 -->
	<insert id="follow">
		INSERT INTO KOCO_FOLLOW(FROM_FOLLOW, TO_FOLLOW, FOLLOW_YN)
		VALUES(#{fromFollow}, #{toFollow}, 1)
		ON DUPLICATE KEY UPDATE FOLLOW_YN = 1
	</insert>
	
	<!-- 팔로우 여부 확인 -->
	<select id="followyn" resultType="java.lang.Integer">
<!-- 		SELECT DISTINCT(FOLLOW_YN) -->
		SELECT CASE 
		WHEN COUNT(*) = 0 THEN 0
		ELSE 1
		END AS FOLLOW_YN 
		FROM KOCO_FOLLOW
		WHERE FROM_FOLLOW = #{fromFollow} AND TO_FOLLOW = #{toFollow}
	</select>
	
	<!-- 언팔로우 -->
	<update id="unfollow">
		UPDATE KOCO_FOLLOW SET FOLLOW_YN = 0
		WHERE FROM_FOLLOW = #{fromFollow} AND TO_FOLLOW = #{toFollow}
	</update>
	
	<update id="updateFromFollow">
		UPDATE KOCO_FOLLOW SET FROM_FOLLOW = #{newNick}
		WHERE FROM_FOLLOW = #{oldNick}
	</update>
	
	<update id="updateToFollow">
		UPDATE KOCO_FOLLOW SET TO_FOLLOW = #{newNick}
		WHERE TO_FOLLOW = #{oldNick}
	</update>
	
	<!-- 팔로워 수 -->
	<select id="followerCnt" resultType="java.lang.Integer">
		SELECT COUNT(*) AS follower
		FROM KOCO_FOLLOW
		WHERE TO_FOLLOW = #{toFollow} AND FOLLOW_YN = 1
	</select>
	
	<!-- 팔로잉 수 -->
	<select id="followingCnt" resultType="java.lang.Integer">
		SELECT COUNT(*) AS following
		FROM KOCO_FOLLOW
		WHERE FROM_FOLLOW = #{fromFollow} AND FOLLOW_YN = 1
	</select>
	
	<!-- 팔로워 리스트 -->
	<select id="followerList" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT FROM_FOLLOW
		FROM KOCO_FOLLOW
		WHERE TO_FOLLOW = #{toFollow}
	</select>
	
	<!-- 팔로잉 리스트 -->
	<select id="followingList" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT TO_FOLLOW
		FROM KOCO_FOLLOW
		WHERE FROM_FOLLOW = #{fromFollow}
	</select>
</mapper>