<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freeBoardMapper">

	<resultMap type="freeboard" id="freeboardResult">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="userNo" column="USER_NO"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardRegdate" column="BOARD_REGDATE"/>
		<result property="boardReadcount" column="READCOUNT"/>	
	</resultMap>

	<select id="getFreeBoard" resultType="board">
		<![CDATA[
		SELECT * FROM KOCO_BOARD WHERE BOARD_NO = #{boardNo}
		]]>
	</select>

	<select id="freeBoardList" resultType="board" resultMap="freeBoardResult">
		<![CDATA[
		SELECT * FROM KOCO_BOARD WHERE 1 = 1 
		<IF TEST = "searchCondition == 'TITLE'">
		AND TITLE LIKE '%' || #{searchKeyword} || '%' </IF>
		<IF TEST = "searchCondition == 'CONTENT'">
		AND CONTENT LIKE '%'|| #{searchKeyword} || '%' </IF>
		ORDER BY BOARD_NO DESC
		]]>
	</select>

	<insert id="freeBoardRegister">
		<![CDATA[
		INSERT INTO KOCO_BOARD (BOARD_TITLE, BOARD_CONTENT)
		VALUES(#{boardTitle}, #{boardContent})
		]]>
	</insert>

	<update id="freeBoardUpdate">
		<![CDATA[
		UPDATE KOCO_BOARD SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent} WHERE BOARD_NO = #{boardNo}
		]]>	
	</update>

	<delete id="freeBoardDelete">
		<![CDATA[
		DELETE FROM KOCO_BOARD WHERE BOARD_NO = #{boardNo}
		]]>
	</delete>

</mapper>
