<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freeBoardMapper">

	<resultMap type="board" id="freeboardResult">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardCategory" column="BOARD_CATEGORY"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardRegdate" column="BOARD_REGDATE"/>
		<result property="boardReadcount" column="READCOUNT"/>
		<result property="userNo" column="USER_NO"/>	
	</resultMap>

	<select id="getFreeBoard" parameterType="board" resultMap="freeboardResult" resultType="board">
		
		SELECT a2.USER_NICKNAME AS writer,
		DATE_FORMAT(a1.BOARD_REGDATE, '%Y-%m-%d') AS BOARD_REGDATE,
			a1.BOARD_TITLE, a1.BOARD_CONTENT, a1.READCOUNT, a1.USER_NO 
		FROM KOCO_BOARD a1, KOCO_USERS a2
		WHERE a1.USER_NO = a2.USER_NO 
		AND BOARD_NO = #{boardNo}
		
	</select>

	<select id="freeBoardList" resultMap="freeboardResult" resultType="board">
		<!-- SELECT *  
		FROM KOCO_BOARD WHERE 1 = 1 
		<if test = 'searchCondition == "TITLE"'>
		AND BOARD_TITLE LIKE CONCAT('%',#{searchKeyword},'%')</if>
		<if test = 'searchCondition == "CONTENT"'>
		AND BOARD_CONTENT LIKE CONCAT('%',#{searchKeyword},'%')</if>
		ORDER BY BOARD_NO DESC	 -->
		SELECT a1.BOARD_NO, a1.BOARD_TITLE, a1.BOARD_CONTENT, a2.USER_NICKNAME AS writer,
			DATE_FORMAT(a1.BOARD_REGDATE, '%Y-%m-%d') AS BOARD_REGDATE, a1.READCOUNT
		FROM KOCO_BOARD a1, KOCO_USERS a2
		WHERE 1 = 1 AND a1.USER_NO = a2.USER_NO
	 	AND a1.BOARD_CATEGORY = 1
	 	<if test="searchCondition == 'TITLE'">
			AND a1.BOARD_TITLE LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
		<if test="searchCondition == 'CONTENT'">
			AND a1.BOARD_CONTENT LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
		<if test="searchCondition == 'NICKNAME'">
			AND USER_NICKNAME LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
		ORDER BY a1.BOARD_NO DESC
		
	</select>
	
	<!-- <select id = "getBoardList_T" resultMap="freeboardResult" resultType="board">
		SELECT *
		FROM KOCO_BOARD 
		WHERE AND a1.USER_NO = a2.USER_NO 
		AND a1.BOARD_CATEGORY = #{infoNo}
		TITLE LIKE CONCAT('%',#{searchKeyword},'%')
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id = "getBoardList_C" resultMap="freeboardResult" resultType="board">
		SELECT * 
		FROM KOCO_BOARD 
		WHERE AND a1.USER_NO = a2.USER_NO 
		AND a1.BOARD_CATEGORY = #{infoNo} 
		CONTENT LIKE CONCAT('%',#{searchKeyword},'%') 
		ORDER BY BOARD_NO DESC
	</select> -->
	 
	<select id="getBoardInfoName" resultType="java.lang.String">
	
		SELECT INFO_NAME as infoName
		FROM KOCO_BOARD_INFO
		WHERE INFO_NO = #{infoNo}
	
	</select>
	
	<insert id="freeBoardRegister" parameterType="board">
		
		INSERT INTO KOCO_BOARD (BOARD_CATEGORY, BOARD_TITLE, BOARD_CONTENT, BOARD_REGDATE, READCOUNT, USER_NO)
		VALUES (1, #{boardTitle}, #{boardContent}, NOW(), #{boardReadcount}, #{userNo}) 
	
	</insert>

	<update id="freeBoardUpdate">
		
		UPDATE KOCO_BOARD SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent} WHERE BOARD_NO = #{boardNo}
		
	</update>

	<delete id="freeBoardDelete">
	
		DELETE FROM KOCO_BOARD WHERE BOARD_NO = #{boardNo}
	
	</delete>
	
	<select id="getFreeBoardCnt" resultType="java.lang.Integer">
		
		SELECT COUNT(*) 
		FROM KOCO_BOARD a1, KOCO_USERS a2 
		WHERE 1=1 AND a1.USER_NO = a2.USER_NO
		AND BOARD_CATEGORY = 1
		<if test="searchCondition == 'TITLE'">
			AND a1.BOARD_TITLE LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
		<if test="searchCondition == 'CONTENT'">
			AND a1.BOARD_CONTENT LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
		<if test="searchCondition == 'NICKNAME'">
			AND USER_NICKNAME LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
	
	</select>
	
	<update id="updateRcnt">
	
			UPDATE KOCO_BOARD
			SET READCOUNT = READCOUNT+1
			WHERE BOARD_NO = #{boardNo}
	
	</update>
	
	<!-- boardLike -->
	
<!-- 	<insert id = "createBoardLike">
		INSERT INTO KOCO_HEART (BOARD_NO, USER_NO) 
		VALUES (#{boardNo}, #{userNo})
	</insert>
	
	<delete id="deleteBoardLike">
		DELETE FROM KOCO_HEART 
		WHERE BOARD_NO = #{boardNo} AND USER_NO = #{userNo}
	</delete>
	
	<select id="updateBoardLike">
		UPDATE KOCO_HEART
		SET 
		BOARD_LIKECNT = (SELECT COUNT (*)
		FROM KOCO_HEART
		WHERE BOARD_NO = #{boardNo})
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<select id="getBoardLike" resultType="int">
		SELECT COUNT(BOARD_LIKE_NO) FROM BOARD_HEART WHERE BOARD_NO = #{boardNo} AND USER_NO = #{userNo} 
	</select> -->
</mapper>
