<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaBoard">
	<resultMap type="board" id="boardResult">
		<id property="boardNo" column="BOARD_NO"></id>
		<result property="boardCategory" column="BOARD_CATEGORY" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardRegdate" column="BOARD_REGDATE" />
		<result property="boardReadcount" column="READCOUNT" />
		<result property="fileName" column="FILE_NAME" />
		<result property="thumbnail" column="THUMBNAIL" />
		<result property="userNo" column="USER_NO" />
	</resultMap>

	<insert parameterType="board" id="getQnaBoardRegister">
	<!-- <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="boardNo">
		select 
	</selectKey> -->
	<![CDATA[
		INSERT INTO KOCO_BOARD(BOARD_CATEGORY, BOARD_TITLE, BOARD_CONTENT, BOARD_REGDATE, READCOUNT, FILE_NAME, THUMBNAIL, USER_NO ,parent,depth,sequence)
		VALUES(#{boardCategory}, #{boardTitle}, #{boardContent}, NOW(), #{boardReadcount}, #{fileName, jdbcType=VARCHAR}, NULL, #{userNo},#{sequence},#{depth},#{sequence})
	]]>
	</insert>
	
	
	
	
	<select parameterType="java.lang.Integer" id="getBoardInfoName" resultType="java.lang.String">
	<![CDATA[
		SELECT INFO_NAME as infoName
		FROM KOCO_BOARD_INFO 
		WHERE INFO_NO = #{infoNo}
	]]>
	</select>
	
	<select parameterType="java.lang.Integer" id="getQnaBoardList" resultType="board" resultMap="boardResult">

	SELECT CONCAT(REPEAT('    ', depth  - 1), CAST(ou.BOARD_NO AS CHAR)) AS BOARD_NO, 
	      parent,
	      depth, 
	      CONCAT(REPEAT('    ', depth  - 1), CAST(ou.BOARD_TITLE AS CHAR)) AS BOARD_TITLE, 
	      sequence,
	      ou.READCOUNT, 
	      DATE_FORMAT(ou.BOARD_REGDATE,  '%Y-%m-%d') AS BOARD_REGDATE,
	      ou.USER_NO,
	      ou.BOARD_CATEGORY, u.USER_NICKNAME AS writer, 
	      LEVEL 
	FROM (SELECT mn.BOARD_TITLE , 
            mn.BOARD_NO, 
            depth , 
            parent, 
            sequence, 
            mn.READCOUNT, 
            DATE_FORMAT(mn.BOARD_REGDATE,  '%Y-%m-%d') AS BOARD_REGDATE,
            mn.USER_NO,
            mn.BOARD_CATEGORY,
            LEVEL 
     	 FROM (SELECT hierarchy_connect_by_parent_eq_prior_no(BOARD_NO) AS BOARD_NO,
                 	  @level AS LEVEL 
            	FROM (SELECT   @start_with := 0, 
		                       @id := @start_with, 
		                       @level := 0 ) vars, 
		                       KOCO_BOARD
               WHERE @id IS NOT NULL ) m 
         	   LEFT OUTER JOIN KOCO_BOARD mn ON mn.BOARD_NO = m.BOARD_NO ) ou
         	   LEFT OUTER JOIN KOCO_USERS u ON ou.USER_NO = u.USER_NO
	WHERE ou.BOARD_CATEGORY = 2 
		<if test="searchCondition == 'TITLE'">
			AND BOARD_TITLE LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
		<if test="searchCondition == 'CONTENT'">
			AND BOARD_CONTENT LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
		<if test="searchCondition == 'NICKNAME'">
			AND USER_NICKNAME LIKE CONCAT('%',#{searchKeyword},'%')
		</if>

	</select>
	
	<select parameterType="java.lang.Integer" id="getQnaBoard" resultType="board" resultMap="boardResult">
	<![CDATA[
		SELECT a2.USER_NICKNAME AS writer, 
		DATE_FORMAT(a1.BOARD_REGDATE, '%Y-%m-%d') AS BOARD_REGDATE, 
	     	  a1.BOARD_TITLE, a1.BOARD_CONTENT, a1.FILE_NAME, a1.READCOUNT, a1.USER_NO , a1.BOARD_NO
		FROM KOCO_BOARD a1, KOCO_USERS a2
		WHERE a1.USER_NO = a2.USER_NO 
		AND BOARD_NO = #{boardNo}
		
	]]>
	</select>
	
	<update parameterType="board" id="updateQnaBoard">
	<![CDATA[
		UPDATE KOCO_BOARD
		SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent},
			FILE_NAME = #{fileName, jdbcType=VARCHAR}
		WHERE BOARD_NO = #{boardNo}
	]]>
	</update>
	
	
	<select parameterType="java.lang.Integer" id="deleteQnaBoard" resultMap="boardResult">
	<![CDATA[
		DELETE FROM KOCO_BOARD WHERE BOARD_NO = #{boardNo}
	]]>
	</select>
	
	<select id="getQnaBoardCnt" resultType="java.lang.Integer">
	
		SELECT COUNT(*) FROM KOCO_BOARD WHERE BOARD_CATEGORY = 2
		<if test="searchCondition == 'TITLE'">
			AND BOARD_TITLE LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
		<if test="searchCondition == 'CONTENT'">
			AND BOARD_CONTENT LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
		<if test="searchCondition == 'NICKNAME'">
			AND USER_NICKNAME LIKE CONCAT('%',#{searchKeyword},'%')
		</if>
	
	</select>
	
	<update parameterType="board" id="updateRcnt">
	<![CDATA[
		UPDATE KOCO_BOARD
		SET READCOUNT = READCOUNT+1
		WHERE BOARD_NO = #{boardNo}
	]]>
	</update>
	
	
	<select id="answerRegView" resultType="java.lang.Integer">
	<![CDATA[
		SELECT * FROM KOCO_BOARD WHERE BOARD_NO = #{boardNo}
	]]>
	</select>
	
	
	
</mapper>