<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SeasonDAO">

	<resultMap type="season" id="seasonResult">
		<id property="seasonNo" column="SEASON_NO" />
		<result property="seasonTitle" column="SEASON_TITLE" />
		<result property="seasonContent" column="SEASON_CONTENT" />
		<result property="seasonStatus" column="SEASON_STATUS" />
		<result property="seasonRegdate" column="SEASON_REGDATE" />
		<result property="userNo" column="USER_NO" />
		<result property="seasonPick" column="SEASON_PICK"/>
	</resultMap>


	<select id="getSeasonBoardList" resultType="season" resultMap="seasonResult">
		SELECT a1.SEASON_NO , a1.SEASON_TITLE, a1.SEASON_STATUS , a1.SEASON_CONTENT,a2.USER_NICKNAME AS userNickname,a1.SEASON_REGDATE,a1.SEASON_PICK
		FROM KOCO_SEASON a1, KOCO_USERS a2
		WHERE 1=1 AND a1.USER_NO = a2.USER_NO
    	<if test="searchCondition == 'TITLE'">
    		AND a1.SEASON_TITLE LIKE CONCAT('%',#{searchKeyword},'%')
    	</if>
    	<if test="searchCondition == 'CONTENT'">
    		AND a1.SEASON_CONTENT LIKE CONCAT('%',#{searchKeyword},'%')
    	</if>
    	<if test="searchCondition == 'NICKNAME'">
    		AND a2.USER_NICKNAME LIKE CONCAT('%',#{searchKeyword},'%')
    	</if>
		ORDER BY a1.SEASON_NO DESC
	</select>
	
	
	<select id="getSeasonBoardCnt" resultType="java.lang.Integer">
			
		SELECT COUNT(*) 
		FROM KOCO_SEASON a1, KOCO_USERS a2
		WHERE 1=1 AND a1.USER_NO = a2.USER_NO
		<if test="searchCondition == 'TITLE'">
    	AND SEASON_TITLE LIKE CONCAT('%',#{searchKeyword},'%')
    	</if>
    	
    	<if test="searchCondition == 'CONTENT'">
    	AND SEASON_CONTENT LIKE CONCAT('%',#{searchKeyword},'%')
    	</if>
    	
    	<if test="searchCondition == 'NICKNAME'">
    	AND USER_NICKNAME LIKE CONCAT('%',#{searchKeyword},'%')
    	</if>
			
	</select>
	

	<select id="getSeasonList" resultMap="seasonResult"
		resultType="season">
		<![CDATA[
		SELECT *
		FROM KOCO_SEASON
		ORDER BY SEASON_NO DESC
		]]>
	</select>



	<select id="getSeasonBoard" resultType="season"
		resultMap="seasonResult">
			SELECT a1.SEASON_NO , a1.SEASON_TITLE, a1.SEASON_CONTENT, a1.SEASON_STATUS, a2.USER_NICKNAME AS userNickname,a1.SEASON_REGDATE,a1.SEASON_PICK
			FROM KOCO_SEASON a1, KOCO_USERS a2
			WHERE 1=1 AND a1.USER_NO = a2.USER_NO AND a1.SEASON_NO = #{seasonNo}		
	</select>

	<insert id="seasonRegister" parameterType="season">
		<![CDATA[
		INSERT INTO KOCO_SEASON(SEASON_TITLE,SEASON_CONTENT,SEASON_STATUS,USER_NO,SEASON_PICK) 
		VALUES(#{seasonTitle}, #{seasonContent}, #{seasonStatus}, #{userNo}, #{seasonPick})
		]]>
	</insert>

	<delete id="deleteSeasonBoard">
		<![CDATA[
		DELETE FROM KOCO_SEASON
		WHERE SEASON_NO = #{seasonNo}
		]]>
	</delete>
	
	<update id="seasonUpdate">
		<![CDATA[
		UPDATE KOCO_SEASON SET
		SEASON_TITLE = #{seasonTitle},
		SEASON_CONTENT = #{seasonContent},
		SEASON_STATUS = #{seasonStatus}
		SEASON_PICK = #{seasonPick}
		WHERE SEASON_NO = #{seasonNo}
		]]>	
	</update>
	
</mapper>

