<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<resultMap type="users" id="userResult">
		<id property="userNo" column="USER_NO"></id>
		<result property="userId" column="USER_ID" />
		<result property="userPw" column="USER_PW" />
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userNickname" column="USER_NICKNAME" />
	</resultMap>

	<!-- 아이디 중복검사 -->
	<select id="userIdExist" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT USER_ID
		FROM KOCO_USERS
		WHERE USER_ID = #{userId}
	</select>
	
	<!-- 닉네임 중복검사 -->
	<select id="userNicknameExist" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT USER_NICKNAME
		FROM KOCO_USERS
		WHERE USER_NICKNAME = #{userNickname}
	</select>
	
	<!-- 이메일 중복검사 -->
	<select id="userEmailExist" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT USER_EMAIL
		FROM KOCO_USERS
		WHERE USER_EMAIL = #{userEmail}
	</select>

	<!-- 회원가입 -->
	<insert id="register">
		INSERT INTO KOCO_USERS(USER_ID, USER_PW, USER_EMAIL,
		USER_NICKNAME)
		VALUES(#{userId}, #{userPw}, #{userEmail}, #{userNickname})
	</insert>

	<!-- 로그인 -->
	<select id="loginCheck" resultType="map">
		SELECT USER_NO AS userNo, USER_ID AS userId, USER_PW AS userPw, USER_NICKNAME AS userNickname, USER_EMAIL AS userEmail, USER_REGDATE AS userRegDate, USER_STATUS AS userStatus, USER_CASE AS userCase
		FROM KOCO_USERS
		WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>
	
	<!-- id, password 찾기 -->
	<select id="findIdPw" parameterType="java.lang.String" resultType="users">
		SELECT USER_ID AS userId, USER_PW AS userPw
		FROM KOCO_USERS
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="userUpdate">
		UPDATE KOCO_USERS SET USER_NICKNAME = #{userNickname}, USER_EMAIL = #{userEmail}
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 비밀번호 수정 -->
	<update id="pwUpdate">
		UPDATE KOCO_USERS SET USER_PW = #{newPw}
		WHERE USER_ID = #{userId} AND USER_PW = #{currentPw}
	</update>
	
	<!-- 관리자페이지 유저리스트 -->
	<select id="userList" resultType="users">
		SELECT USER_NO AS userNo, USER_NICKNAME AS userNickname, USER_EMAIL AS userEmail, 
		(
			CASE
			WHEN USER_STATUS = '1' THEN '활성계정'
			WHEN USER_STATUS = '2' THEN '휴면계정'
			ELSE '정지계정'
			END
		) AS userStatus, 
		(
			CASE 
			WHEN USER_CASE = '1' THEN '일반회원'
			ELSE '관리자'
			END
		) AS userCase 
		FROM KOCO_USERS
	</select>
</mapper>